### 5.27.수

# 1. 파이썬과 MySQL 활용
#### 모듈
        1) mysqlclient, PyMySQL 
        2) pip install mysqlclient, pip install PyMySQL

### mysqlclient 모듈사용

In [2]:
import MySQLdb

In [4]:
# mysql 서버에 접속
conn=MySQLdb.connect(host="127.0.0.1",user="root",password='1111',database='testdb')
print(conn)
# mysql 서버종료
conn.close()

<_mysql.connection open to '127.0.0.1' at 000001824426C208>

In [10]:
#dict를 이용한 서버접속
config={'host':'127.0.0.1','user':'root','password':'1111','database':'testdb'}
conn=MySQLdb.connect(**config)

#select
sql="SELECT empno,ename,sal,job,deptno FROM emp"
cur= conn.cursor()
cur.execute(sql)
print(cur)
print(type(cur))
print("---------------------------")

#for data in cur:
    #print(data)                           #packing
    #print('%d, %s, %d, %s, %d'%data)       #unpacking
    
for empno,ename,sal,job,deptno in cur:      #다른 방법의 umpacking
    print(empno,ename,sal,job,deptno)
    
    
conn.close()

<MySQLdb.cursors.Cursor object at 0x000001824555BEC8>
<class 'MySQLdb.cursors.Cursor'>
---------------------------
7369 SMITH 800.0 CLERK 20
7499 ALLEN 1600.0 SALESMAN 30
7521 WARD 1250.0 SALESMAN 30
7566 JONES 2975.0 MANAGER 20
7654 MARTIN 1250.0 SALESMAN 30
7698 BLAKE 2850.0 MANAGER 30
7782 CLARK 2450.0 MANAGER 10
7788 SCOTT 3000.0 ANALYST 20
7839 KING 5000.0 PRESIDENT 10
7844 TURNER 1500.0 SALESMAN 30
7876 ADAMS 1100.0 CLERK 20
7900 JAMES 950.0 CLERK 30
7902 FORD 3000.0 ANALYST 20
7934 MILLER 1300.0 CLERK 10

In [11]:
#insert
config={'host':'127.0.0.1','user':'root','password':'1111','database':'testdb'}
conn=MySQLdb.connect(**config)
cur= conn.cursor(
sql='''INSERT INTO emp(empno,ename,sal,job,mgr,deptno,hiredate)
        VALUES(1,'TOM',700,'CLERK',7788,20,NOW())'''    
cur.execute(sql)    
conn.commit()     #select는 필요없지만 insert에서는 commit 필요
conn.close()

SyntaxError: invalid syntax (<ipython-input-11-6d5b0c253acf>, line 7)

In [12]:
#insert
config={'host':'127.0.0.1','user':'root','password':'1111','database':'testdb'}
conn=MySQLdb.connect(**config)
cur= conn.cursor()
sql='''INSERT INTO emp(empno,ename,sal,job,mgr,deptno,hiredate)
        VALUES(1,'TOM',700,'CLERK',7788,20,NOW())'''    
cur.execute(sql)    
conn.commit()     #select는 필요없지만 insert에서는 commit 필요
conn.close()

In [20]:
conn=MySQLdb.connect(**config)
cur= conn.cursor()
v_empno=5
v_ename='Johnson'
v_sal=1500
conn.close()
sql="INSERT INTO emp(empno,ename,sal,hiredate) VALUES(" +str(v_empno)+','+v_ename+',')"
print(sql)

SyntaxError: invalid syntax (<ipython-input-20-a8fcfcd403ab>, line 7)

In [27]:
v_empno=5
v_ename='Johnson'
v_sal=1500

sql="INSERT INTO emp(empno,ename,sal,hiredate) VALUES(" +str(v_empno)+",'"+v_ename+"'," +str(v_sal) +",now())"

In [28]:
print(sql)

INSERT INTO emp(empno,ename,sal,hiredate) VALUES(5,'Johnson',1500,now())

In [29]:
config={'host':'127.0.0.1','user':'root','password':'1111','database':'testdb'}
conn=MySQLdb.connect(**config)
cur= conn.cursor()
v_empno=5
v_ename='Johnson'
v_sal=1500

sql="INSERT INTO emp(empno,ename,sal,hiredate) VALUES(%s, %s, %s, npw())"
sql_data=(str(v_empno),v_ename,str(v_sal))

cur.execute(sql,sql_data)    
conn.commit()     #select는 필요없지만 insert에서는 commit 필요
conn.close()

OperationalError: (1305, 'FUNCTION testdb.npw does not exist')

In [30]:
config={'host':'127.0.0.1','user':'root','password':'1111','database':'testdb'}
conn=MySQLdb.connect(**config)
cur= conn.cursor()
v_empno=5
v_ename='Johnson'
v_sal=1500

sql="INSERT INTO emp(empno,ename,sal,hiredate) VALUES(%s, %s, %s, now())"
sql_data=(str(v_empno),v_ename,str(v_sal))

cur.execute(sql,sql_data)    
conn.commit()     #select는 필요없지만 insert에서는 commit 필요
conn.close()

In [32]:
#delete 
config={'host':'127.0.0.1','user':'root','password':'1111','database':'testdb'}
conn=MySQLdb.connect(**config)
cur= conn.cursor()
sql='DELETE FROM emp WHERE empno BETWEEN 1AND 10'
cur.execute(sql)
conn.commit()     
conn.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '10' at line 1")

In [34]:
#delete 
config={'host':'127.0.0.1','user':'root','password':'1111','database':'testdb'}
conn=MySQLdb.connect(**config)
cur= conn.cursor()
sql='DELETE FROM emp WHERE empno BETWEEN 1 AND 10'
cur.execute(sql)
conn.commit()     
conn.close()

# PyMySQL 모듈사용

In [33]:
import pymysql

In [36]:
conn=pymysql.connect(host="127.0.0.1",user="root",password='1111',database='testdb',port=3306,charset='utf8')
# port랑 charset은 안써도 무방
print(conn)
conn.close()

<pymysql.connections.Connection object at 0x0000018245A39C48>

In [37]:
config={'host':'127.0.0.1','user':'root','password':'1111','database':'testdb'}
conn=pymysql.connect(**config)
print(conn)
conn.close()

<pymysql.connections.Connection object at 0x0000018245A40408>

In [42]:
config={'host':'127.0.0.1','user':'root','password':'1111','database':'testdb'}
conn=pymysql.connect(**config)
cur = conn.cursor()
sql=''' CREATE table IF NOT EXISTS pythonTable(
        id int unsigned not null auto_increment,    
        name varchar(20) not null,
        regdate datetime,
        primary key(id));
        '''
         # unsigned 는 양수만 쓴다는 것이다. 
         # IF NOT EXISTS a -> a가 존재하지 않으면 만들어라. 이미 존재하면 만들지 않는다. 
cur.execute(sql)
cur.execute('show tables')

for i in cur:
    print(i)
conn.commit() 
conn.close()

('bonus',)
('dept',)
('emp',)
('pythontable',)
('salgrade',)
('tblbook',)
('tbldept',)
('tblemp',)
('tblexam',)
('tblindex',)
('tbltest1',)
('vw_emp1',)

C:\Users\acorn\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1050, "Table 'pythontable' already exists")
  result = self._query(query)

In [48]:
conn=pymysql.connect(**config)
try:
    cur = conn.cursor()
    sql=''' CREATE table IF NOT EXISTS pythonTable(
        id int unsigned not null auto_increment,    
        name varchar(20) not null,
        regdate datetime,
        primary key(id));
        '''
    cur.execute(sql)
    conn.commit()
    
finally:
    conn.close()

In [50]:
conn=pymysql.connect(**config)
try:
    cur = conn.cursor()
    sql="INSERT INTO pythontable(name,regdate) VALUES('tom',now());"
    for num in range(10):
        cur.execute(sql)
    
    conn.commit()    
finally:
    conn.close()